label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 4px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px;
    border: solid;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #333;
}

.error-message {
    color: red;
}
#reg ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

#reg ul li {
  margin-right: 15px;
}
