<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="../static/styles/forgot_password.css"> <!-- Add a custom CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/headfoot.css') }}">
    <link rel="stylesheet" href="../static/styles/login.css">
</head>
<body>
	{% include 'header.html' %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center mb-4">Reset Password</h1>
                <form method="POST">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        <label for="password">New Password:</label>
                        {{ form.password(class="form-control") }}
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirm New Password:</label>
                        {{ form.confirm_password(class="form-control") }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>
